<!DOCTYPE html>
<html>
	<head>
		<title>Login Form</title>
		<meta name="robots" content="noindex, nofollow">
		<link rel="stylesheet" href="static/css/style.css"/>
		<link rel="stylesheet" href="static/css/login.css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/login.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="main">
				<form class="form" method="post" action="#">
					<h3>LIMS Insight Login</h3>
					<label>Email :</label>
					<input type="text" name="demail" id="email">
					<label>Password :</label>
					<input type="password" name="password" id="password">
					<input type="button" name="login" id="login" value="Login">
				</form>
			</div>
		</div>
	</body>
</html>
