<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Clinical Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/app/static/css/style.css">
        <link rel="stylesheet" href="/app/static/css/login.css">
        <!--script src='app/static/js/gettable.js'></script-->

        <div>
            <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav navbar-left" style="padding-left:20px;">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/patients">Patients</a></li>
                    <li><a href="/samples">Samples</a></li>
                    <li><a href="/experiments">Experiments</a></li>
                    <li><a href="/results">Results</a></li>
                    <li><a href="/resultdetails">Result Details</a></li>
                    <li><a href="/all">All Data</a></li>
                </ul>
            </nav>
        </div>
    </head>
    <body>
        <div class="container">
            <div class="card card-container">
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form><!-- /form -->
                <a href="#" class="forgot-password">
                    Forgot the password?
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->
    </body>
</html>

